server {
    listen 80;
    server_name {{ HOST }};

    access_log {{ LOG }}app.access;
    error_log  {{ LOG }}app.error;

    client_max_body_size 5m;
    charset utf-8;

    set  $_application_root    "{{ ROOT }}/";
    set  $_fastcgi_script_name bootstrap.php;
    root $_application_root;

    location /balance {
        fastcgi_pass         "unix:/var/run/php5-fpm.sock";
        fastcgi_param method ordr.balance.controller;

        include "{{ ROOT }}/config/static/fastcgi.config";
        include "{{ ROOT }}/config/static/nocache.config";
    }

    location /login {
        fastcgi_pass         "unix:/var/run/php5-fpm.sock";
        fastcgi_param method ordr.login.controller;

        include "{{ ROOT }}/config/static/fastcgi.config";
        include "{{ ROOT }}/config/static/nocache.config";
    }

    location /logout {
        fastcgi_pass         "unix:/var/run/php5-fpm.sock";
        fastcgi_param method ordr.logout.controller;

        include "{{ ROOT }}/config/static/fastcgi.config";
        include "{{ ROOT }}/config/static/nocache.config";
    }

    location /registration {
        fastcgi_pass         "unix:/var/run/php5-fpm.sock";
        fastcgi_param method ordr.registration.controller;

        include "{{ ROOT }}/config/static/fastcgi.config";
        include "{{ ROOT }}/config/static/nocache.config";
    }

    location /profile {
        location ~ ^/profile$ {
            fastcgi_pass         "unix:/var/run/php5-fpm.sock";
            fastcgi_param method ordr.profile.controller;
            fastcgi_param order  date;
            fastcgi_param type   desc;

            include "{{ ROOT }}/config/static/fastcgi.config";
            include "{{ ROOT }}/config/static/nocache.config";
        }

        location ~ ^/profile/([a-z]+)/([a-z]+)$ {
            fastcgi_pass         "unix:/var/run/php5-fpm.sock";
            fastcgi_param method ordr.profile.controller;
            fastcgi_param order  $1;
            fastcgi_param type   $2;

            include "{{ ROOT }}/config/static/fastcgi.config";
            include "{{ ROOT }}/config/static/nocache.config";
        }
    }

    location /cache {
        fastcgi_pass         "unix:/var/run/php5-fpm.sock";
        fastcgi_param method ordr.cache.controller;

        include "{{ ROOT }}/config/static/fastcgi.config";
        include "{{ ROOT }}/config/static/nocache.config";
    }

    location /order {
        location ~ ^/order$ {
            fastcgi_pass         "unix:/var/run/php5-fpm.sock";
            fastcgi_param method ordr.order.controller;

            include "{{ ROOT }}/config/static/fastcgi.config";
            include "{{ ROOT }}/config/static/nocache.config";
        }

        location ~ ^/order/(\d+)$ {
            fastcgi_pass         "unix:/var/run/php5-fpm.sock";
            fastcgi_param method ordr.order.controller;
            fastcgi_param order  $1;

            include "{{ ROOT }}/config/static/fastcgi.config";
            include "{{ ROOT }}/config/static/nocache.config";
        }

        location ~ ^/order/(\d+)/(\d+)$ {
            fastcgi_pass         "unix:/var/run/php5-fpm.sock";
            fastcgi_param method ordr.order.controller;
            fastcgi_param order  $1;
            fastcgi_param owner  $2;

            include "{{ ROOT }}/config/static/fastcgi.config";
            include "{{ ROOT }}/config/static/nocache.config";
        }
    }

    location /session {
        fastcgi_pass         "unix:/var/run/php5-fpm.sock";
        fastcgi_param method ordr.session.controller;

        include "{{ ROOT }}/config/static/fastcgi.config";
        include "{{ ROOT }}/config/static/nocache.config";
    }

    location /test {
        fastcgi_pass         "unix:/var/run/php5-fpm.sock";
        fastcgi_param method ordr.test.controller;

        include "{{ ROOT }}/config/static/fastcgi.config";
        include "{{ ROOT }}/config/static/nocache.config";
    }

    location ~.html {
        root {{ ROOT }}/page;
    }
}

server {
    listen 80;
    server_name cdn.{{ HOST }};

    access_log {{ LOG }}cdn.access;
    error_log  {{ LOG }}cdn.error;

    client_max_body_size 5m;
    charset utf-8;
    root {{ ROOT }}/static;
}
