server {
    listen 80;
    server_name {{ HOST }};

    access_log {{ LOG }}app.access;
    error_log  {{ LOG }}app.error;

    client_max_body_size 5m;
    charset utf-8;

    set  $_application_root    "{{ ROOT }}/";
    set  $_fastcgi_script_name bootstrap.php;
    root $_application_root;

    location /test {
        fastcgi_pass         "unix:/var/run/php5-fpm.sock";
        fastcgi_param page   Order.Test;
        fastcgi_param action Display;

        include "{{ ROOT }}/config/static/fastcgi.config";
        include "{{ ROOT }}/config/static/nocache.config";
    }
}

server {
    listen 80;
    server_name cdn.{{ HOST }};

    access_log {{ LOG }}cdn.access;
    error_log  {{ LOG }}cdn.error;

    client_max_body_size 5m;
    charset utf-8;
    root {{ ROOT }}/static;
}
